@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
    font: size 1.1em;;
}

/* Main container css starts here */
.MainContainer
{
    width:60%;
    min-height:360px;
    margin: 180px auto 80px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* Main container css ends here */

/* Title css starts here */
.Title
{
    font-weight: 600;
    font-size: 20px;
    text-align: left;
    color: #ffff;
    background-color: #1D6989;
    padding: 5px 5px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 15px;
    width: 80%;

}
/* Title css ends here */

/* css starts here for rows */
.row
{
    width: 80%;
    margin-top:10px ;
}
/* css ends here for rows */

/* css starts here for labels of inputfield */
label
{
    font-weight: 600;
    font-size: 18px;
}
/* css ends here for labels of inputfield */

/* css starts here for inputfields*/
.inputfield
{
    width: 100%;
    border: 3px solid #ccc;
    padding: 3px;
}

.inputfield:hover{
    border: 3px solid #1D6989;
}  

.inputfield:focus
{
    outline: none;
    border: 3px solid #1D6989;
} 
/* css ends here for inputfields*/

/* button devision starts here */
.submit_button{
    background-color: #1D6989;
    width:200px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    font-size: 1.1em;
    border: none;
}
.submit_button:hover{
    cursor: pointer;
    color:#1D6989 ;
    background-color: white;
    border: 2px solid #1D6989;

}
/* button devision ends here */

/* span for indicate errors starts here*/
span
{
    color: red;
    font-size: 10px;
}
/* span for indicate errors ends here*/

/* media quaries starts here */
@media only screen and (max-width: 996px)
{
    *{
       font-size: 1em;
    }
}
@media only screen and (max-width: 490px)
{
    button{
        font-size: 15px!important;
        width: 8px;
    }  
}
/* media quaries ends here */