@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
    font-size: 1em;
}
.main_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}
.main_details{
    display: flex;
    flex-direction:row;
    width: 100%;
    height: 260px;
    margin-top:140px;
    margin-bottom: 30px;
}
.picture img{
    height: 240px;
    width: 200px;
    margin: 10px;
    
}
.main_details_text{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}
.name{

    font-size: 3em;
    font-weight: 800;
    color:#227093;
    
}
.address , .phone_number{
font-size:2em;
font-weight: 600;
}
.no_of_contracts{
font-size: 1.2em;

}
/*
video{
    margin-top: 30px;
       
}*/
#vedioid{
    height: 350px;
    width: 60%;
    margin-top: 30px;
    
}

.description{
height: fit-content;
font-size: 1.2em;
font-weight: 500;
margin: 0px 30px 30px 0;
text-align: justify;
}
.sub_parts{
   
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: 500;
    margin: 30px 30px 0 0;
}
.social_media i{
    font-size: 30px;
}
.social_media i:hover{
    color:#5eacda;
    cursor: pointer;  
}
@media only screen and (max-width: 975px){
    .name{

        font-size: 2.5em;
         
    }
    .address , .phone_number{
    font-size:1.5em;
    
    }
    
}
@media only screen and (max-width: 750px){
    .name{

        font-size: 2.2em;
         
    }
    .address , .phone_number{
    font-size:1.3em;
    
    }
    
}
@media only screen and (max-width: 690px){
    .name{

        font-size: 2em;
         
    }
    .address , .phone_number{
    font-size:1em;
    
    }
    .no_of_contracts{
font-size: 0.8em;
    }
    
}
@media only screen and (max-width: 650px){
    .main_details{
       /* flex-direction: column;*/
        height: fit-content;
    }
    .name{

         font-size: 1.2em;
        
    }  
    .picture img{
        height: 140px;
        width: 100px;
        margin: 10px;
        
    }
    .main_details_text{
        margin-left: 5px;
        
    }
}
@media only screen and (max-width: 650px){

    .main_details{
        flex-direction: column;
        height: fit-content;
}
#vedioid{
    height: 300px;
    width: 200px;
    
}

}