@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
    font-size: 1em;
}
.main_container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 140px auto;
}
.main_details{
    display: flex;
    flex-direction:row;
    height: 260px;
    margin-top:30px;
    margin-bottom: 30px;
}
.picture img{
    height: 240px;
    width: 200px;
    margin: 10px;
    
}
.main_details_text{
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}
.name{

    font-size: 3em;
    font-weight: 800;
    color:#227093;
    line-height: 80px;   
}
.address , .phone_number{
font-size:2em;
font-weight: 600;
}
.no_of_contracts{
font-size: 1.2em;

}
.rating{
    display: flex;
    flex-direction: row;
    
}

.rating i{
    color: gold; 
    font-size: 40px;
    margin-right: 20px;  
}
.no_of_rating{
 font-size: 30px;   
}
.description{
height: fit-content;
font-size: 1.2em;
font-weight: 500;
margin: 30px 30px 0 0;
text-align: justify;
}
.sub_parts{
   
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: 500;
    margin: 30px 30px 0 0;
}
.do_rate{
    display: flex;
    flex-direction: row;
}
.do_rate_text{

    margin-right: 10px;
}
.do_rate i{
    color: gold; 
    font-size: 30px;  
}
.social_media i{
    font-size: 30px;
}
.social_media i:hover{
    color:#5eacda;
    cursor: pointer;  
}
.review_row{
display: flex;
flex-direction: row;

}
.user_picture img{
    height: 50px;
    width: 50px;
    margin: 10px;
}
.review_detail{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-left: 20px;
}
.review_detail_name{
    font-size: 1.2em;
    font-weight: 600;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.review_row i{
    color: gold;
}
/*rate us box start from here*/
.rate_us_box{
    width :60%;
    margin: auto;
    min-height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }
 .rate_us_text{
 font-size:2em;
 color:#1D6989 ;
 font-weight: 800;
 }
 .row{
     width: 80%;
     margin-top:15px ;
 }
 
 .inputfield{
     width: 100%;
     border: 3px solid #ccc;
     padding: 3px;
 }
 
 .inputfield:hover{
     border: 3px solid #1D6989;
 }  
 
 .inputfield:focus{
     outline: none;
     border: 3px solid #1D6989;
 }  
 .loadmore_button{
    background-color: #1D6989;
    width:150px;
    color: white;
    padding: 5px;
   border: none;
    border-radius: 30px;
    font-weight: 600;
   margin: auto;
   
}
.loadmore_button:hover{
    cursor: pointer;
    color:#1D6989 ;
    background-color: white;
    border: 2px solid #1D6989;

}
.star_row i{
    color: gold;
    font-size: 30px;
}

@media only screen and (max-width: 975px){
    .name{

        font-size: 2.5em;
         
    }
    .address , .phone_number{
    font-size:1.5em;
    
    }
    
}
@media only screen and (max-width: 750px){
    .name{

        font-size: 2.2em;
         
    }
    .address , .phone_number{
    font-size:1.3em;
    
    }
    
}
@media only screen and (max-width: 690px){
    .name{

        font-size: 2em;
         
    }
    .address , .phone_number{
    font-size:1em;
    
    }
    .no_of_contracts{
font-size: 0.8em;
    }
    
}
@media only screen and (max-width: 650px){
    .main_details{
       /* flex-direction: column;*/
        height: fit-content;
    }
    .name{

         font-size: 1.2em;
        
    }  
    .picture img{
        height: 140px;
        width: 100px;
        margin: 10px;
        
    }
    .main_details_text{
        margin-left: 5px;
        
    }
}

@media only screen and (max-width: 650px){

    .main_details{
        flex-direction: column;
        height: fit-content;
}


}
