@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* color: #585656; */
    scroll-behavior: smooth;
    /* font-size: 1.1em;  */
} 
body 
{
    margin: 0 auto;
    background-color: white;
}
.InquireBox
{
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.collapsiable
{
    background-color: #227093;
    color: white;
    cursor: pointer;
    width: 280px;
    height: 50px; 
    text-align:start; 
    outline: none;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    border: 3px solid white;
    border-bottom: none;
}

.InquireBox img
{
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: left;
    margin-right: 25px;
    margin-left: 15px;
}
.content 
{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.InquireBlock
{
    width: 280px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.2s ease-out;
}

.MainContainer
{
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

.Chat
{
    max-height: 400px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    scroll-behavior: smooth;
    hyphens: auto;
}

.Chat::-webkit-scrollbar 
{
    display: none;
}

.InputContainer1 
{
    display: flex;
    float: left;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 10px;
}

.Icon 
{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    float: right;
    font-size: 20px;
}

#ChatIcon:hover 
{
    opacity: .7;
}

/* Chat bubbles */

.Input
{
    width: 85%;
}

.InputBox 
{
    float: left;
    border: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: #000;
    background-color: white;
    outline: none
}

.userText {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.userText span {
    line-height: 1.5em;
    display: inline-block;
    background: #227093;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 70%;
    margin-bottom: 5px;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.QText {
    color: #227093;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    clear: both;
}

.QText span {
    line-height: 1.5em;
    display: inline-block;
    border: #227093 solid;
    background: white;
    padding: 10px;
    border-radius: 8px;
    border-bottom-right-radius: 2px;
    max-width: 70%;
    margin-bottom: 5px;
    margin-right: 10px;
    animation: floatup .5s forwards
}

.QText span:hover
{
    cursor: pointer;
    background: #227093;
    color: white;
    position: relative;
    transition:ease-in-out 0.2s;
}

.Text
{
    color: #000;
    font-family: Helvetica;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
}

.Text span 
{
    line-height: 1.5em;
    display: inline-block;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    border-bottom-left-radius: 2px;
    max-width: 70%;
    margin-bottom: 5px;
    margin-left: 10px;
    animation: floatup .5s forwards
}

@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width:600px) {
    .full-chat-block {
        width: 100%;
        border-radius: 0px;
    }
    .InquireBox {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
    }
    .collapsible {
        width: 100%;
        border: 0px;
        border-top: 3px solid white;
        border-radius: 0px;
    }
}


/* .right-container input[type="submit"]
{
    width: 100px;
    border-radius: 12px;
    border: rgb(6, 8, 124) solid;
    background: rgb(6, 8, 124);
    height: 40px;
    color: white;
    font-size: 20px;
    align-items: center;
    cursor: pointer;
    margin-top: 35px;
}
.right-container input[type="submit"]:hover
{
    cursor: pointer;
    background: white;
    color: rgb(6, 8, 124);
    position: relative;
    transition:ease-in-out 0.2s;
} */