@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
    
}

body{
    width: 100%;
  
}
.main_container{
    width: 85%;
    margin: auto;
}
  .top_trending_categories_title  {  
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 30px;
    color: #084C8B;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.top_trending_categories_container{
    height: 300px;
  margin-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}
.top_trending_categories_box_row{
    width: 100%;
    margin: auto;
    height: 125px;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    
}
.top_trending_categories_box{
        width: 25%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        border: 1px solid #91a4c7;
        border-radius: 7px;
        font-weight: 600;
        font-size: 24px;
        text-align: center;
       
        box-shadow: 0 4px 5px 0 rgb(90 127 210 / 45%), 0 6px 20px 0 rgb(90 127 210 / 15%);
}
a{
    text-decoration:none;
}
/*.top_trending_categories_box{
    display: flex;
    align-items: center;
    width:25%;
    height: 117px;
    padding:3px;
    border: 3px solid #1a479c;
    border-radius: 20px;
    font-weight: 600;
    font-size: 36px;
   justify-content: center;
   text-align: center;
   
    
}*/
.top_trending_categories_box:hover{
    cursor: pointer;
    box-shadow: 0 4px 5px 0 #273c75, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*animation-name: top_trending_categories_box_animation;
    animation: top_trending_categories_box_animation 10s infinite;
    animation-timing-function: linear;
    transform: translateX(5px);*/
}
/*@keyframes top_trending_categories_box_animation{
    
  
    10%  {background-color: rgb(226, 217, 217);}
    25%   {background-color: #b9e6f7;}
  
 
50%   {background-color: #51a7c7;}
    
  

}*/

.top_trending_categories_box_text{
    font-size: 36px;
    text-align: center;   
}
.top_trending_categories_box_arrows{

width: 98%;
margin: auto;
display: flex;
justify-content: space-between;

}
.top_trending_categories_box_arrows i fa fa-chevron-left{
    cursor: pointer;
    font-size: 50px;
}

.top_trending_categories_box_arrows i fa fa-chevron-right{
    cursor: pointer;
}

/*features job part*/
.features_job{
  
    margin-top: 100px;
   
    font-weight: 800px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.features_job_row{
    height: 200px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: 3px solid #88888b;
    display: flex;
    flex-direction: row;
    padding: 2px;
    font-weight: 600;
    align-items: center;
    margin-bottom: 30px;

   
    
}
.features_job_row:hover{
border-top: 3px solid #0C1778;    
box-shadow: 5px 10px rgb(248, 244, 244);
cursor: pointer;
}

.features_job_row_picture{
width: 20%;
height: 100%; 
display: flex;
align-items: center;  

}
.features_job_row_picture img{
width: 60%;
height: auto; 
margin: auto;

/*border: 3px solid #4b4b4d;*/

box-shadow: 5px 5px 10px rgba(172, 167, 167, 0.16) ;
   
    }
.features_job_row_job_and_company{
width: 30%;
height:100%; 
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}



.features_job_row_job{
   
   
    line-height: 35px;
    margin: auto;
    
}
.features_job_row__company{
    
    
    line-height: 35px;
    margin-bottom: auto;
}





.features_job_row_location{
width: 20%;
height: 100%; 
display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;


}
.features_job_row_location i {

font-size: 30px;
margin: auto;


}

.features_job_row_location_name{


margin-bottom: auto;

}

.features_job_row_job_type{
width: 20%;
height: 100%; 

display: flex;
flex-direction: column;
justify-content:space-around;
align-items: center;
}

.features_job_row_job_type i{
font-size: 30px;
margin: auto;
}
.features_job_row_job_type_name{
 
margin-bottom: auto;
}
.features_job_row_deadline_and_urgent{
 width: 20%;
height: 100%; 
    
display: flex;
flex-direction: column;
justify-content:space-around;
 align-items: center;
 }
    
.features_job_row_deadline{
    
margin: auto;
display: flex;
flex-direction: row;
flex:1;
   
}
.features_job_row_deadline_date_container{
       
display: flex;
flex-direction: column;
align-items: center;
        
}
.features_job_row_deadline_date_container p{
    
 
  margin-top:38px;
 }
    .features_job_row_deadline_date{
        
       
    }
    .features_job_row_deadline{
      
       display: flex;
       text-align: center;
        
    }
  /*  .features_job_row_deadline i{
visibility: hidden;
        font-size: 30px;
        margin-top:38px;
    }*/
    .features_job_row_urgent{
     width: 60%;
    
    font-size: 20px;
    color: white;
   
    margin-bottom: 10px;
    
    background-color: rgb(229, 165, 153);
    border-radius: 50px;
    text-align: center;
    animation-name: features_job_row_urgent_animation;
    animation: features_job_row_urgent_animation 10s infinite;
    }
    @keyframes features_job_row_urgent_animation{
        0%  {background-color: white;}
        50%   {background-color: #e63d09;}
    
    }


.load_more{
    background-color: #1D6989;
    width:170px;
    height: auto;
    color: white;
    padding: 5px;
    border-radius: 30px;
    font-weight: 600;
    margin: 30px auto;
    border: none;
    font-size: 0.8em;
}
.load_more:hover{
    cursor: pointer;
    color:#1D6989 ;
    background-color: white;

    border: 2px solid #1D6989;
}


#more {
    display: none;
    
   
    
}
.btn_div{
    display: flex;
    align-items: center;
}
#btn2{
 
}









@media only screen and (max-width: 1200px) {

    .top_trending_categories_box{
        font-size: 28px;
 

    }
    .features_job{
       
        font-size: 26px;
    }
    .features_job_row_picture img{
        height: 50%;
    }

}

@media only screen and (max-width: 992px) {

    .top_trending_categories_box{
        font-size: 25px;
       

    }
    .top_trending_categories_title  {
        font-size: 50px;
    }
    .features_job{
     
        font-size: 20px;
    }
    .features_job_row{
        
        height: fit-content;
    }
    .features_job_row_picture img{
        height: 45%;
    }

}
@media only screen and (max-width: 796px) {

    .top_trending_categories_box{
        font-size: 15px;
       

    }
    .top_trending_categories_title  {
        font-size: 40px;
    }
    .features_job{
     
        font-size: 15px;
    }
    
    .features_job_row_urgent{
        font-size: 10px;
    }

}

@media only screen and (max-width: 796px) {

.features_job_row{
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px;
    justify-content: space-around;
}
.features_job_row_job ,.features_job_row_job_type_name, .features_job_row_job_and_company ,.features_job_row_location_name,.features_job_row_deadline_date_container{
   width:100%


}

.features_job_row_deadline_date_container p{
    margin-top: 0;
}
.features_job_row_deadline_and_urgent{
    width: 100%;
   
    justify-content: space-between;
}
.features_job_row_urgent{
    width:50px;
}
}