@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #585656;
  /*font-size: 1.1em;*/
}

.post_job_description{
    
  background-image:url("images/Post_job/1.png") ;

    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 140px;
   display: flex;
   justify-content:left;
   margin-bottom: 40px;

  }
  .post_job_description_left{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding: 30px;
   /*color:rgb(37, 37, 37);*/

   background-color: transparent;
  }
  .post_job_description_left_text{
    
    font-size: 25px;
    font-weight: 1000;
    text-align: left;
    Text-shadow: 2px 2px rgba(216, 189, 189, 0.3);
   
  }

 
.post_job_description_left_button {
background-color: transparent;
color: white;

font-size: 25px;
font-weight: 600;
border-radius: 10px;
border: 3px solid #14186B;
animation-name:post_job_description_left_button_animation;
animation:post_job_description_left_button_animation 5s infinite;
cursor: pointer;
}

@keyframes post_job_description_left_button_animation{

  25% {color:rgb(33, 44, 204)}
  
  50% {color:cornsilk}
    }
.post_job_description_left_button:hover{
  background-color: black;
 
}



  .post_job_description_text{

    font-family: 'Patua One', cursive;
  
   font-size: 50px;
   font-weight: 600;
   text-align: center;
   margin: auto; 
   color: rgb(75, 66, 95); 
   Text-shadow: 2px 2px rgba(216, 189, 189, 0.3);
   
  }



p{
   width: 70%;
   height: 40px;;
    font-size:30px;
    background-color:#1D6989;
   padding: 3px;
    color: white; 
    font-weight: 600;
    margin: auto;
}
/*.underline{
    width: 20%;
    height: 7px;;
    background: #524BA4;
    border-radius: 48px;
    margin:auto;

}*/.main_container{
  margin: 30px auto;
  width: 70%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    form{
    width: 80%;
    margin: auto; 
    padding-top: 40px;
    font-family: 'Open Sans', sans-serif;
    
    }
    .labelfield{    
    font-size: 25px;
     margin: auto;
     font-weight: 600;

        
    }
.inputfield{
    width:90%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical; 
    margin-bottom: 20px;
    font-size:20px ;
}
.inputfield:hover{ 
 
    border-bottom:  3px  solid rgb(147, 150, 150);

}
.inputfield:focus{
      border-top: 0;
      border-left: 0;
      border-left: 0;
      outline: 0;
      border-bottom:  3px  solid rgb(147, 150, 150);


color:rgb(54, 53, 53);
}
::placeholder{
  font-size:0.8em ;
}
select{
  color: rgb(157, 156, 158); 
 font-size: 0.8em


}
option{
   color: rgb(75, 66, 95);  
   
 
}
.btn{
  display: flex;
 
}



.tox-tinymce {
  width:90% !important;
  
}

.post_New_Job_submit{
  background-color: #1D6989;
  width:200px;
  height: auto;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  margin: 20px auto;
  border: none;
}
button:hover{
  cursor: pointer;
  color:#1D6989 ;
  background-color: white;
  border: 2px solid #1D6989;

}
.radiobutton_class{
margin-top: 20px;
margin-bottom: 20px;
padding-right: 70px;
}
.radiobutton{
    margin-left: 5%;
   
}
.radiolabel{
  
  font-weight: 600;
  font-size: 20px;    
    
}
.radiobutton_style{
 
  float: right;
  width: 200px;
}

@media only screen and (max-width: 1000px){
   .main_container{
     width: 80%;
   }
    button{
       
        width: 30%;  
      }
      .post_job_description_left_text{
        font-size:20px ;
      }
      .post_job_description_left_button { 
        font-size: 20px;
      }
}
@media only screen and (max-width: 890px) {
.form{
  font-size: 0.8em;
}
.radiobutton_class{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.radiobutton_class .labelfield{
  
  text-align: left;
  margin:0;
}
.post_job_description_left_button{
  width: 150px;
}
}
@media only screen and (max-width: 520px) {
  p{
     
    font-size: 20px;
  } 
  .post_job_description{
    flex-direction: column;
  }
  .post_job_description_left_text{
    font-size:15px ;
  }
  .post_job_description_text{
    font-size:30px ;
  }
  .post_job_description_left_button { 
    font-size: 15px;
    width: 120px; 
    margin-top: 20px;
  } 
  .labelfield{
    font-size: 0.65em;
  }
  button{
    font-size: 20px; 
    width: 40%;  
  }
}
