@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 140px 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
    font-size: 1.1em;
}
.main_container{

width:60%;
height:650px;
margin: 20px auto 20px auto;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row{
    width: 80%;
    margin-top:15px ;
}
.picture_bar img{
 width:20%;
height: auto;
border-radius: 50%;
margin-right: 20px;

}
.picture_bar{
    width: 80%;
    margin: 10px auto 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  
}

label{
    font-weight: 600;
 
}
.inputfield{
    width: 100%;
    border: 3px solid #ccc;
    padding: 3px;
}

.inputfield:hover{
    border: 3px solid #1D6989;
}  

.inputfield:focus{
    outline: none;
    border: 3px solid #1D6989;
}  
.submit_button{
    background-color: #1D6989;
    width:150px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: 600;
    margin: 10px;
    border: 0px;
    transition: ease-in-out 0.2s;
   
}
.submit_button:hover{
    cursor: pointer;
    color:#1D6989 ;
    background-color: white;
    border: 2px solid #1D6989;

}
.my_jobs{
width: 60%;
margin: auto;
}
.my_jobs_title{
background-color: #1D6989;
height: 2.8vw;
padding: 10px;
color: white;
font-weight: 600;

}
.my_jobs_row_container{

}
.my_jobs_row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
    padding: 10px;
    font-weight: 600;
    border: 3px solid #ccc;
    align-items: center;
    text-align: center;
   
}
.icon i{
    font-size: 40px;
   color:#1D6989 ;
   margin: 6px;
   cursor: pointer;
}
.post_contract_bar{
    width: 60%;
    margin: 20px auto;
    background-color: #1D6989;
    height: 3vw;
    padding: 10px;
    color: white;
    font-weight: 600;
}




@media only screen and (max-width: 990px){
*{
   font-size: 1em;

}
.main_container{

    min-height:600px;
} 
.icon i{
    font-size: 35px;
}   
}
@media only screen and (max-width: 640px){
    *{
       font-size: 1em;
    
    }
    .main_container{
        width: 80%;
        min-height:550px;
    } 
    .icon i{
        font-size: 30px;
    } 
    .my_jobs{
        width: 80%;   
    }    
 }
 @media only screen and (max-width: 452px){
    *{
       font-size: 0.9em;
    
    }
    .main_container{
        
       height: 200px;
    } 
    .icon i{
        font-size: 20px;
    }     
 }