@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: #585656;
}
.main_container{
width: 40%;
height: 200px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin: 200px auto 100px auto;
display: flex;
flex-direction:column;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
padding: 5px;
font-size: 8px;

}
.circle{
    background-color:  #1D6989;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display:flex;
    margin-top:20px ;
}
i{
    color: white;
    font-size: 50px;
    justify-content: center;
    margin:auto;
}
.text{
    display: flex;
    flex-direction: row;
    
}
.text1 ,.text2{
   
    font-size: 3vw;
    font-weight: 600;
    color: #1D6989;
    margin-right: 20px;
}