/* admin home page */


.main-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
}


/* div dashboard */
.dashboard{
  margin-top:100px;
}



/* admin boxes */

.admin-boxes{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* first row*/
.first-row{
display:flex;
flex-direction: column;
align-items:center;
justify-content: center;
}

/* second row */
.second-row{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}


/* box link */

.first-row a, .second-row a{
  margin:50px;
}
.box {
  width: 285px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid #91a4c7;
  border-radius: 7px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  box-shadow: 0 4px 5px 0 rgb(90 127 210 / 45%),
    0 6px 20px 0 rgb(90 127 210 / 15%);
}

.box:hover{
  cursor: pointer;
  box-shadow: 0 4px 5px 0 #3d5e90d1, 0 6px 20px 0 rgb(0 0 0 / 31%);
  }
/* media queries starts here */

@media only screen and (max-width:750px) {
  .admin-boxes{
    display:flex;
    flex-direction: column;
  }

  .dashboard{
    margin-top:0px;
  }
  .first-row a, .second-row a{
    margin:20px;
  }

  .box{
    font-size: 20px;
  }
}