/* font style */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
* {
  font-family: "Quicksand", sans-serif;
}


/* title field starts here */
.main_container{
  transform: translate(0%,0%);
}

.required:after {
  content:" *";
  color: red;
}
.title_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
  margin-top: 0px;

}

.text1 {
  font-size: xx-large;
}

.text2 {
  font-size: x-large;
  font-weight: lighter;
}

/* form field starts here */

/* main division of counsellor_form */
.counsellor_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px 10px;
  width: 70%;
  max-width: 800px;
  margin: 30px auto;
  padding: 10px 0px;
}

/* profile picture division */

.profilePic {
  display: flex;
  margin: 20px auto;
}

/* labels */
.inp label,
.image_insertion label {
  font-size: 20px;
}

/* profile label */
input#profilePicture {
  margin: auto;
  width: 80%;
}

.profilePic_image {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
}

/* image */
.profilePic_image img {
  width: 50%;
  height: auto;
  min-width: 100px;
  min-height: 100;
  object-fit: cover;
  border-radius: 50%;
}

/* image insertion */
.image_insertion {
  margin: auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

/* input fields division element */
.inp {
  width: 80%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* each input boxes */
input {
  width: 100%;
  height: 35px;
  border-radius: 2px;
  border: 1px solid black;
}

/*radio button mock interviews*/
.provideMi{
  display:flex;
  flex-direction: column;
  justify-content:left;
  width:100%;
}
.radio_inputs{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mi_yes input, .mi_no input{
  color:black;
}
/* text area box */
textarea {
  margin: 0px;
  width: 100%;
  height: 90%;
  border-radius: 2px;
  border: 1px solid black;
}

/* add another button starts here */
.add-another {
  width: 50%;
  margin: 30px auto;
  text-align: center;
  display: flex;
  justify-content: center;
}
.add-another button {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1f78fb87;
  border-radius: 25px;
  width: 100%;
  max-width: 450px;
  min-width: 250px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  transition: ease-in-out 0.2s;
  border: 1px solid #1f78fb87;
  letter-spacing: 1px;
}

.add-another button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #1f78fb87;
}

.add-another button .plus_for_button {
  font-weight: bolder;
  font-size: xx-large;
}

/* add another button ends here */

/* input{
  border: 1px solid rgb(32, 15, 184);
} */

/* next, input button */
.cu_buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
}

.cancel button,
.update button {
  color: white;
  background-color: #496575;
  border-radius: 7px;
  width: 140px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  transition: ease-in-out 0.2s;
  border: 0;
  letter-spacing: 1px;
}

.update button {
  background-color: green;
}

.cancel button:hover {
  cursor: pointer;
  background-color: white;
  color: #496575;
  border: 1px solid #496575;
}

.update button:hover {
  cursor: pointer;
  background-color: white;
  color: green;
  border: 1px solid green;
}

/* media queries */

@media only screen and (max-width: 750px) {
  /* for profile picture */
  .profilePic {
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  /* heading texts */
  .text1 {
    font-size: larger;
    text-align: center;
  }

  .text2 {
    font-size: large;
    text-align: center;
  }

  .cancel button,
  .update button {
    color: white;
    background-color: #496575;
    border-radius: 7px;
    width: 120px;
    height: 40px;
    font-size: 18px;
  }

  .update button {
    background-color: green;
  }
}


