@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #585656;
  font-size: 1em;
}
.main_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.main_details {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* .picture {
} */
.picture img {
  width: 200px;
  object-fit: cover;
  margin: 5px;
  border-radius: 50%;
}

.main_details_text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 30px;
}

.name {
  font-size: 50px;
  font-weight: 800;
  color: #227093;
}

.address,
.city {
  font-size: 30px;
  font-weight: 600;
  margin: 5px 0px;
}

/* mock interview providing mark */
.mi_provider {
  display: flex;
  border: 1px solid blue;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding-right: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mk_interview {
  margin: 10px;
  font-size: 40px;
  text-align: center;
}

.tick {
  display: flex;
  padding: auto 5px;
}
/* mock interviews end here */

.description {
  height: fit-content;
  font-size: 1.2em;
  font-weight: 500;
  margin: 30px 30px 0 0;
  text-align: justify;
}
.sub_parts {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.2em;
  font-weight: 500;
  margin: 30px 30px 0 0;
}

.social_media i {
  font-size: 30px;
}
.social_media i:hover {
  color: #5eacda;
  cursor: pointer;
}

@media only screen and (max-width: 975px) {
  .name {
    font-size: 2.5em;
  }
  .address,
  .city {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 820px) {
  /* mock interview providing mark */
  .mi_provider {
    width: 60%;
  }

  .mk_interview {
    font-size: 30px;
  }
  /* mock interviews end here */

  @media only screen and (max-width: 750px) {
    .main_details {
      margin: auto;
      display: flex;
      flex-direction: row;
      height: auto;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .picture {
      margin: auto;
    }

    .name {
      font-size: 2.2em;
      margin-top: 5px;
      margin-bottom: 5px;
      margin: auto;
    }
    .address,
    .city {
      font-size: 1.3em;
    }

    /* mock interview providing mark */
    .mi_provider {
      width: 80%;
    }

    .mk_interview {
      font-size: 25px;
    }

    /* mock interviews end here */
  }
}
@media only screen and (max-width: 650px) {
  .main_details {
    flex-direction: column;
  }

  .main_details_text {
    margin-left: 0px;
  }
  .picture img {
    width: 150px;
  }
  .name {
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .address,
  .city {
    font-size: 1.2em;
  }

  /* mock interview providing mark */

  .mi_provider {
    width: 90%;
  }

  .mk_interview {
    font-size: 20px;
  }
  /* mock interviews end here */
}
